<%= form_with model: lev_admirer do |form| %>
  <div>
    <%= form.label :first_name%><br>
    <%= form.text_field :first_name%>
    <% lev_admirer.errors.full_messages_for(:first_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :last_name%><br>
    <%= form.text_field :last_name%>
    <% lev_admirer.errors.full_messages_for(:last_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :phone_number %><br>
    <%= form.text_area :phone_number %><br>
    <% lev_admirer.errors.full_messages_for(:phone_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
